body {
    background-image: linear-gradient( to bottom right,  rgb(153, 235, 241), rgb(153, 235, 241)) ;
    margin: 0px;
    border: 0px;
}

.container {
    border: 10px solid rgb(4, 4, 37);
}

.image {
    padding-top: 10px;
    text-align: center;
}

h1 {
    color: rgb(78, 40, 5);
}

.head {
    text-align: center;
}

.middle-section {
    font-size: 22px;
    padding: 15px;
    margin: 10px;
}

.middle-section h2 {
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 2px;
}

p {
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    line-height: 30px;
    word-spacing: 10%;
    letter-spacing: 0.60px;
}

footer p {
    text-align: end;
}